<div>
  <li class="item flexrow items-header">
    <div class="item-name">Bag</div>
    <label for="system.money" class="resource-label">Shells: </label><input type="text" name="system.money" value="{{system.money}}" max="{{system.money}}" data-dtype="Number"/>
    <label for="system.qi" class="resource-label">Qi: </label><input type="text" name="system.qi" value="{{system.qi}}" max="{{system.qi}}" data-dtype="Number"/>
  </li>
  <div class="gridBag bagGrid grid-8col item-list">
    {{#each bag as |item id|}}
    <div class="item-name item-bag item" data-item-id="{{item._id}}">
      <div class="bagGridSlot">
        <div class="item-image">
          <img src="{{item.img}}" title="{{item.name}}" width="50" height="50"/>
          <div class="item-inBag"> {{item.system.inBag}} </div>
          {{#if ../inTown}}
          <div class="item-sale"> ${{item.system.salePrice}} </div>
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  
  <ol class="items-list">
    <li class="flexrow items-header">
      <div class="item-name">Weapon</div>
    </li>
    {{#if activeWeapon}}
    <li class="item flexrow" data-item-id="{{activeWeapon._id}}">
      <div class="item-name">
        <div class="item-image">
          <a class="rollable" data-roll-type="item"><img src="{{activeWeapon.img}}" title="{{activeWeapon.name}}" width="30" height="30"/></a>
        </div>
        <div class="item-data flexcol">
          <div class="item-name item-edit flexrow">
            <h3><b>{{activeWeapon.name}}</b></h3>
          </div>
          <div class="item-data flexrow">
            <h4>Speed: {{weaponSpeed}}</h4>
            <h4>Crit: {{activeWeapon.system.crit}}</h4>
            <h4>{{activeWeapon.system.element.type}}</h4>
          </div>
        </div>
        {{#if user.isGM}}
        <div class="item-controls">
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
        {{/if}}
      </div>
    </li>
    {{> (actorWeaponPartial) activeWeapon }}
    {{/if}}
    
    <li class="flexrow items-header">
      <div class="item-name">Armor</div>
    </li>
    {{#if armor.head}}
    <li class="item flexrow" data-item-id="{{armor.head._id}}">
      <div class="item-name">
        <div class="item-image">
          <a class="rollable" data-roll-type="item"><img src="{{armor.head.img}}" title="{{armor.head.name}}" width="30" height="30"/></a>
        </div>
        <div class="item-data flexcol">
          <div class="item-name item-edit flexrow">
            <h3><b>{{armor.head.name}}</b></h3>
          </div>
        </div>
        <div class="item-controls">
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
      </div>
    </li>
    {{/if}}
    {{#if armor.chest}}
    <li class="item flexrow" data-item-id="{{armor.chest._id}}">
      <div class="item-name">
        <div class="item-image">
          <a class="rollable" data-roll-type="item"><img src="{{armor.chest.img}}" title="{{armor.chest.name}}" width="30" height="30"/></a>
        </div>
        <div class="item-data flexcol">
          <div class="item-name item-edit flexrow">
            <h3><b>{{armor.chest.name}}</b></h3>
          </div>
        </div>
        <div class="item-controls">
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
      </div>
    </li>
    {{/if}}
    {{#if armor.hands}}
    <li class="item flexrow" data-item-id="{{armor.hands._id}}">
      <div class="item-name">
        <div class="item-image">
          <a class="rollable" data-roll-type="item"><img src="{{armor.hands.img}}" title="{{armor.hands.name}}" width="30" height="30"/></a>
        </div>
        <div class="item-data flexcol">
          <div class="item-name item-edit flexrow">
            <h3><b>{{armor.hands.name}}</b></h3>
          </div>
        </div>
        <div class="item-controls">
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
      </div>
    </li>
    {{/if}}
    {{#if armor.waist}}
    <li class="item flexrow" data-item-id="{{armor.waist._id}}">
      <div class="item-name">
        <div class="item-image">
          <a class="rollable" data-roll-type="item"><img src="{{armor.waist.img}}" title="{{armor.waist.name}}" width="30" height="30"/></a>
        </div>
        <div class="item-data flexcol">
          <div class="item-name item-edit flexrow">
            <h3><b>{{armor.waist.name}}</b></h3>
          </div>
        </div>
        <div class="item-controls">
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
      </div>
    </li>
    {{/if}}
    {{#if armor.legs}}
    <li class="item flexrow" data-item-id="{{armor.legs._id}}">
      <div class="item-name">
        <div class="item-image">
          <a class="rollable" data-roll-type="item"><img src="{{armor.legs.img}}" title="{{armor.legs.name}}" width="30" height="30"/></a>
        </div>
        <div class="item-data flexcol">
          <div class="item-name item-edit flexrow">
            <h3><b>{{armor.legs.name}}</b></h3>
          </div>
        </div>
        <div class="item-controls">
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
      </div>
    </li>
    {{/if}}
  </ol>