  <aside class="{{#if expandBag}}grid-span-2{{else}}grid-span-1{{/if}} bag BagDrop">
    <li class="bag-title-row">
      <a class="item-name expand-bag">Bag</a>
      <label class="bag-capacity">{{bagSize}}/24</label>
    </li>
    <ol class="bag-list">
      {{#each bag as |item id|}}
      <li class="item item-drag item-bag" style="--flex-size: {{#if expanded}}100%{{else}}45%{{/if}};" data-item-id="{{item._id}}">
        <div class="itemrow">
          <a class="item-image item-expand" data-roll-type="item"><img src="{{item.img}}" width="60" height="60"/></a>
          {{#if expanded}}
          <div class="item-data">
            <div class="item-name">
              <h3><b>{{item.name}}</b></h3>
            </div>
            <div class="flexrow">
              {{#if ../inTown}}
              <h3 class="item-price"><sup>$</sup><b>{{item.system.salePrice}}</b></h3>
              {{/if}}
              <h4 class="item-quantity">{{item.system.inBag}}</h4>
            </div>
          </div>
          {{/if}}
        </div>
        {{#if expanded}}
        <section class="inline-description">
          {{{item.system.description}}}
        </section>
        {{/if}}
      </li>
      {{/each}}
    </ol>
  </aside>
  
  <div class="main {{#if expandBag}}grid-span-2{{else}}grid-span-3{{/if}} BagDrop">
    <ol class="items-list">
      <li class="flexrow items-header">
        <div class="item-name">Weapon</div>
      </li>
      {{#if activeWeapon}}
      <li class="item flexrow" data-item-id="{{activeWeapon._id}}">
        <div class="item-name">
          <div class="item-image">
            <a class="rollable" data-roll-type="item"><img src="{{activeWeapon.img}}" title="{{activeWeapon.name}}" width="30" height="30"/></a>
          </div>
          <div class="item-data flexcol">
            <div class="item-name item-edit flexrow">
              <h3><b>{{activeWeapon.name}}</b></h3>
            </div>
            <div class="item-data flexrow">
              <h4>Speed: {{weaponSpeed}}</h4>
              <h4>Crit: {{activeWeapon.system.crit}}</h4>
              <h4>{{activeWeapon.system.element.type}}</h4>
            </div>
          </div>
          {{#if user.isGM}}
          <div class="item-controls">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
        </div>
      </li>
      {{> (actorWeaponPartial) activeWeapon }}
      {{/if}}
      
      <li class="flexrow items-header">
        <div class="item-name">Armor</div>
      </li>
      {{#if armor.head}}
      <li class="item flexrow" data-item-id="{{armor.head._id}}">
        <div class="item-name">
          <div class="item-image">
            <a class="rollable" data-roll-type="item"><img src="{{armor.head.img}}" title="{{armor.head.name}}" width="30" height="30"/></a>
          </div>
          <div class="item-data flexcol">
            <div class="item-name item-edit flexrow">
              <h3><b>{{armor.head.name}}</b></h3>
            </div>
          </div>
          <div class="item-controls">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </div>
      </li>
      {{/if}}
      {{#if armor.chest}}
      <li class="item flexrow" data-item-id="{{armor.chest._id}}">
        <div class="item-name">
          <div class="item-image">
            <a class="rollable" data-roll-type="item"><img src="{{armor.chest.img}}" title="{{armor.chest.name}}" width="30" height="30"/></a>
          </div>
          <div class="item-data flexcol">
            <div class="item-name item-edit flexrow">
              <h3><b>{{armor.chest.name}}</b></h3>
            </div>
          </div>
          <div class="item-controls">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </div>
      </li>
      {{/if}}
      {{#if armor.arms}}
      <li class="item flexrow" data-item-id="{{armor.arms._id}}">
        <div class="item-name">
          <div class="item-image">
            <a class="rollable" data-roll-type="item"><img src="{{armor.arms.img}}" title="{{armor.arms.name}}" width="30" height="30"/></a>
          </div>
          <div class="item-data flexcol">
            <div class="item-name item-edit flexrow">
              <h3><b>{{armor.arms.name}}</b></h3>
            </div>
          </div>
          <div class="item-controls">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </div>
      </li>
      {{/if}}
      {{#if armor.waist}}
      <li class="item flexrow" data-item-id="{{armor.waist._id}}">
        <div class="item-name">
          <div class="item-image">
            <a class="rollable" data-roll-type="item"><img src="{{armor.waist.img}}" title="{{armor.waist.name}}" width="30" height="30"/></a>
          </div>
          <div class="item-data flexcol">
            <div class="item-name item-edit flexrow">
              <h3><b>{{armor.waist.name}}</b></h3>
            </div>
          </div>
          <div class="item-controls">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </div>
      </li>
      {{/if}}
      {{#if armor.legs}}
      <li class="item flexrow" data-item-id="{{armor.legs._id}}">
        <div class="item-name">
          <div class="item-image">
            <a class="rollable" data-roll-type="item"><img src="{{armor.legs.img}}" title="{{armor.legs.name}}" width="30" height="30"/></a>
          </div>
          <div class="item-data flexcol">
            <div class="item-name item-edit flexrow">
              <h3><b>{{armor.legs.name}}</b></h3>
            </div>
          </div>
          <div class="item-controls">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </div>
      </li>
      {{/if}}
    </ol>
  </div>
