<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body ItemSale items-list">

    <ol class="store">
    <!--<div class="gridChest chestGrid grid-2col">-->
      {{#each gear as |item id|}}
      <!--<div class="item item-name item-bag" data-item-id="{{item._id}}">
        <div class="chestGridSlot">
          <div class="item-image">
            <img src="{{item.img}}" title="{{item.name}}" width="50" height="50"/>
            <div class="item-inBag"> {{item.system.inBag}} </div>
            {{#if ../inTown}}
            <div class="item-sale">${{item.system.cost}} </div>
            {{/if}}
          </div>
        </div>
      </div>-->

      <li class="item item-bag" data-item-id="{{item._id}}">
        <div class="item-name">
          <div class="item-image">
            <a class="request-purchase" data-roll-type="item"><img src="{{item.img}}" width="60" height="60"/></a>
          </div>
          <div class="item-data flexcol">
            <div class="item-name item-edit flexrow">
              <h3><b>{{item.name}}</b></h3>
            </div>
            <div class="item-data flexrow">
              <h3 class="item-price"><sup>$</sup><b>{{item.system.cost}}</b></h3>
              <h4>For Sale: {{item.system.inBag}}</h4>
            </div>
          </div>
        </div>
      </li>
      {{/each}}
    <!--</div>-->
    </ol>
  </section>
</form>

