<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body ItemSale bag">

    <ol class="bag-list">
      {{#each gear as |item id|}}
      <li class="item item-bag" style="--flex-size: 15rem;" data-item-id="{{item._id}}">
        <div class="itemrow">
          <a class="item-image request-purchase" data-roll-type="item"><img src="{{item.img}}" width="60" height="60"/></a>
          <div class="item-data">
            <div class="item-name">
              <h3><b>{{item.name}}</b></h3>
            </div>
            <div class="flexrow">
              <h3 class="item-price"><sup>$</sup><b>{{item.system.cost}}</b></h3>
              <h4 class="item-quantity">{{item.system.inBag}}</h4>
            </div>
          </div>
        </div>
      </li>
      {{/each}}
    </ol>
  </section>
</form>

