<div>
    <div>
    {{#if attackName}}
    <label>{{attackName}}</label>
    {{/if}}
    {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
    {{/if}}
    </div>
    <div class="dice-roll grid grid-3col">
        <div class="hexCrop grid-span-1" style="--cols: {{attackGridSize}}; --rows: {{attackGridHeight}};">
            {{#each attackGrid as |gridrow|}}
            <div class="hex-row">
                {{#each gridrow}}
                <div class="hex {{this}}"></div>
                {{/each}}
            </div>
            {{/each}}
        </div>
        <div class="attack-data grid-span-2">
            <div class="dice-result">
                <label>To Hit:</label>
                <div class="dice-formula">{{hitFormula}}</div>
                {{{hitTooltip}}}
                <h4 class="dice-total">{{hitTotal}}</h4>
            </div>
            <div class="dice-result">
                <label>Base Damage:</label>
                <div class="dice-formula">{{damageFormula}}</div>
                {{{damageTooltip}}}
                <h4 class="dice-total">{{damageTotal}} <img src="Icons/SheetIcons/{{attackType}}.png" height="24" width="24"/></h4>
            </div>
            {{#if elementFormula}}
            <div class="dice-result">
                <label>{{elementType}} Damage:</label>
                <div class="dice-formula">{{elementFormula}}</div>
                {{{elementTooltip}}}
                <h4 class="dice-total">{{elementTotal}} <img src="Icons/SheetIcons/{{elementType}}.png" height="24" width="24"/></h4>
            </div>
            {{/if}}
        </div>
    </div>
    <div class="dice-result">
        <div class="attack-data">
            <button type="button" class="apply-damage attack-icon" data-damage-data="{{applyDamageData}}" data-damage-mod="0.5">Apply Half Damage</button>
            <button type="button" class="apply-damage attack-icon" data-damage-data="{{applyDamageData}}" data-damage-mod="1">Apply Full Damage</button>
            <button type="button" class="apply-damage attack-icon" data-damage-data="{{applyDamageData}}" data-damage-mod="1.5">Apply Crit Damage</button>
        </div>
    </div>
</div>
