<div class="sale-card monhunsys" data-purchase-data="{{purchaseData}}">
    <div>
        <div>
            <h3>{{user.name}} sold to {{shop.name}}:</h3>
        </div>
        <div class="purchase-info">
                <div class="item-image request-purchase"><img src="{{item.img}}" width="30" height="30"/></div>
                <h3 class="purchase-name"><b>{{item.name}}</b></h3>
                <h3 class="item-price right-align"><sup>$</sup><b>{{value}}</b></h3>
        </div>
    </div>
</div>