<div class="attacks-list">
  <div class="sheet-header">
    <div class="grid grid-2col">
      <div class="resource">
        <label class="resource-label">Draw Level <i class="has-descriptor fa-duotone fa-bow-arrow" title="attack charge level"></i></label>
        <div class="resource grid-2col">
          <input type="number" name="activeWeapon.system.resourceBars.draw.value" value="{{system.resourceBars.draw.value}}" data-dtype="Number">
          <span class="resource-uneditable"> / {{system.resourceBars.draw.max}} </span>
        </div>
      </div>
      <div class="resource">
        <label class="resource-label">Active Ammo <i class="has-descriptor fa-solid fa-bone-break" title="Power Charge Active"></i></label>
        <div class="resource grid-2col">
          <select class="select-ammo render-update" name="activeWeapon.system.ammo" data-type="String">
            {{#select system.ammo}}
              {{#each system.ammoTypes as |ammo key|}}
                {{#if ammo.inBag}}
                <option value="{{key}}">{{key}}</option>
                {{/if}}
              {{/each}}
            {{/select}}
          </select>
          <label> x{{activeAmmoCount}}</label>
        </div>
      </div>
    </div>
  </div>
  
  {{!-- Attacks Tab --}}
  <div class="attack-window">
  
    <ul class="attacks-list">
      {{#each attacks}}
        {{> "systems/monhunsys/templates/item/parts/bow-attack-card.html" }}
      {{/each}}
    </ul>
  </div>
</div>