<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    {{#if user.isGM}}
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="effects">effects</a>
    {{/if}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{#if user.isGM}}
    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div>
        <!--<input name="system.slot" type="text" value="{{system.slot}}" placeholder="Slot"/>-->
        <select class="select-slot render-update" name="system.slot" data-type="String">
          {{#select system.slot}}
          {{#each system.allSlots as |slot key|}}
          <option value="{{slot}}">{{slot}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      
      <div class="resistances flexcol">
        <div class="flexrow items-header resistance-edit"><label for="abilities flexcol">Resistances</label></div>
        <div class="abilities grid grid-2col">
          {{#each system.resistances as |resistance key|}}
          <div class="abilities flexrow flex-group-center">
            <div class="item item-image">
              <img src="{{resistance.img}}" title="{{resistance.label}}" width="30" height="30"/>
            </div>
            <input type="number" name="system.resistances.{{key}}.value" value="{{resistance.value}}" data-dtype="number"/>
          </div>
          {{/each}}
        </div>
      </div>
      
      <div>
        <a class="add-ability">Add Ability</a> 
        {{#each system.abilities as |ability key|}}
        <div class="ability-block" data-ability-id="{{key}}">
          <input type="string" name="system.abilities.{{key}}.name" value="{{ability.name}}"/>
          <label class="ability-level-label" for="system.abilities.{{key}}.level" > Lv.</label><input class="ability-level" type="number" name="system.abilities.{{key}}.level" value="{{ability.level}}" data-dtype="number"/>
          <div class="item-controls">
            <a class="item-control ability-delete" title="Delete Ability"><i class="fas fa-trash"></i></a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/monhunsys/templates/item/parts/item-effects.html"}}
    </div>
    {{/if}}
  </section>
</form>
